* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    max-height: 100vh;
}

body {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 1.25rem;
    letter-spacing: .125rem;
}

p {
    margin: 10px;
}

.row {
    margin: auto;
}


/*....................Heading */

.heading {
    padding: .625rem;
    text-align: center;
}


/*....................Main body */


/* Image section (at larger screen sizes) */

.image-area {
    text-align: center;
    color: white;
    background-color: #a19e9e;
    border: 5px solid #ef4036;
    border-radius: 1.875rem;
    padding: 5% 0;
    margin-bottom: 3.5px;
}

.ash {
    padding-top: 15%;
}


/* Game play instructions section */

.rules-area {
    text-align: center;
    color: #fff;
    background-color: #00478c;
    border: 5px solid #f0cf00;
    border-radius: 1.875rem;
    padding: 5% 0;
    margin-bottom: 3.5px;
}


/* Main game play section */

.game-area {
    text-align: center;
    color: #00478d;
    background-color: #f0cf00;
    border: 5px solid #00478d;
    border-radius: 1.875rem;
    margin: 0 3.5px 3.5px 3.5px;
    width: 49%;
}

.play-button {
    margin: 20%;
    background-color: transparent;
    color: #00478c;
    text-align: center;
    font-weight: bold;
    font-size: 1.5625rem;
}

.play-button:hover {
    color: #fff;
}

.grid {
    align-items: center;
    justify-content: center;
    display: none;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: auto;
    width: auto;
    padding: 10% 10% 0 10%;
}


/* For JS and JQuery functionality */

.score {
    display: none;
}

#restart {
    color: #fff;
    background-color: #ef4036;
    border: solid 2px #00478c;
    border-radius: 16px;
    display: none;
    padding: 2%;
    margin: 2%;
}


/* #replay {
    display: none;
} */

#congrats {
    display: none;
}


/* Footer section */

footer {
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #ef4036;
    border: 5px solid #00478c;
    border-radius: 1.875rem;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #a19e9e;
}


/* Modal */

.modal-content {
    color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #00478c;
    background-clip: padding-box;
    border: 5px solid #f0cf00;
    border-radius: 1.875rem;
    outline: 0;
}

.modal-yes {
    color: #fff;
    background-color: #00478c;
    border: solid 2px #f0cf00;
    width: 50px;
    border-radius: 16px;
    padding: 2%;
    margin: 2%;
}

.modal-no {
    color: #fff;
    background-color: #00478c;
    border: solid 2px #ef4036;
    width: 50px;
    border-radius: 16px;
    padding: 2%;
    margin: 2%;
}


/*....................Media Queries */

@media screen and (max-width: 992px) {
    .image-area {
        display: none;
    }
    .game-area {
        width: 65%;
    }
    footer {
        position: relative;
        margin-top: 2%;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 75%;
    }
    .game-area {
        text-align: center;
        color: #00478d;
        background-color: #f0cf00;
        border: 5px solid #00478d;
        border-radius: 1.875rem;
        margin: 0 0 3.5px 0;
        width: 100%;
    }
    .play {
        margin: 0%;
        background-color: transparent;
        color: #00478c;
        text-align: center;
        font-weight: bold;
        font-size: 1.5625rem;
    }
    .grid {
        align-items: flex-start;
        justify-content: center;
        height: auto;
        width: auto;
        padding: 0rem;
        margin: auto;
        padding-top: 5%;
    }
    footer {
        position: relative;
        margin-top: 2%;
    }
}


/* @media screen and (min-width: 1400px) {
    .grid {
        align-items: center;
        justify-content: center;
        display: none;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        height: auto;
        width: auto;
        padding: 10%;
    }
} */