.card {
    /* display: inline-block; */
    height: 100px;
    width: 100px;
    /* background-color: #eee; */
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.teal {
    background-color: teal;
}

.color-hidden {
    background-color: gray;
}